h1{
    color: red;
text-align: center;
text-decoration-line: overline;
text-decoration-color: blue;
text-decoration-style: solid;
text-decoration-thickness: 5px;
}
h2{
    color: #ff0000;
    direction: rtl;
text-decoration-line: line-through;
text-decoration-color: blue;
text-decoration-style: dashed;
text-decoration-thickness: 5px;
text-shadow: 2px lightblue;
}
h3{
    color: rgb(150,6,5);
    text-align-last: center;
text-decoration-line: underline;
text-decoration-color: blue;
text-decoration-style: dotted;
text-decoration-thickness: 5px;

}
p{
    color: blueviolet;
    text-decoration-line: overline,underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    text-indent: 50px;
    letter-spacing: 5px;
    word-spacing: 4%;
    white-space: 3px;
}
ul{
color: blue;}
.a{
    list-style-type: circle;
    
}
.b{
    list-style-type: square;
    
}
.c{list-style-type: upper-roman;}
.d{
    list-style-type: lower-alpha;
}
